[Desktop Entry]
Name=APInox
Comment=API Testing & Discovery
Exec=apinox
Icon=apinox
Terminal=false
Type=Application
Categories=Development;Network;
StartupWMClass=apinox
